{% extends "home/home.html" %}
{% load static %}
{% block title %}Book{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}
    <h2 class="mt-4 mb-4 text-secondary">Information About Book</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Words</div>
                Number of Unique (excluding stopping words) in book
            </div>
            <span class="badge bg-primary rounded-pill">{{ total_words }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Ratio</div>
                Percentage of Profane Words in Book
            </div>
            <span class="badge bg-primary rounded-pill">{{ percentage }}%</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Rating</div>
                Rating Computed by the System for the given Book
            </div>
            {% if percentage > 1.0 %}
                <span class="text-danger">R rated</span>
            {% else %}
                <span class="text-success">PG-13</span>
            {% endif %}
        </li>
    </ol>

{% endblock %}