{% extends "home/home_base.html" %}
{% load static %}
{% block title %}{{ heading }}{% endblock %}

{% block NAV_LINKS %}
    <li class="nav-item">
        <a class="forgot-class me-5" aria-current="page"
           href="{% url 'home' %}">Home</a>
    </li>
    {% if 'History' in heading %}
        <li class="nav-item">
            <a class="forgot-class me-5" style="font-weight: bold" aria-current="page" href="{% url 'history' %}">History</a>
        </li>
{#        <li class="nav-item">#}
{#            <a class="forgot-class" aria-current="page" href="{% url 'library' %}">Library</a>#}
{#        </li>#}
    {% else %}
        <li class="nav-item">
            <a class="forgot-class me-5" aria-current="page" href="{% url 'history' %}">History</a>
        </li>
{#        <li class="nav-item">#}
{#            <a class="forgot-class" style="font-weight: bold" aria-current="page" href="{% url 'library' %}">Library</a>#}
{#        </li>#}
    {% endif %}
{% endblock %}

{% block BREADCRUMB %}
    <li class="breadcrumb-item active pt-1" style="color: #FBAB7E;" aria-current="page">Home</li>
    <li class="breadcrumb-item active pt-1" style="color: #FBAB7E;" aria-current="page">{{ heading }}</li>
{% endblock %}

{% block content %}

    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{{ message }}</div>
        {% endif %}

    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}

    <h2 class="mt-4 mb-4 text-secondary">{{ heading }}</h2>

    <div class="container">
        <div class="row row-cols-4">
            {% for book in all_books %}
                <div class="col mb-4">
                    <div class="card shadow-lg ">
                        <img src="{% static 'images/thumbnail.svg' %}" style="border: 2px #FBAB7E solid" alt="...">
                        <div class="card-footer" style="background-color: #3b4252;">
                            <h4 class="card-title text-light">{{ book.title }}</h4>
                            <p class="card-title text-light">ASIN# {{ book.ASIN }}</p>
                            <hr class="bg-light"/>
                            <h2 class="text-center yellow-class">{{ book.rating }}</h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {##}
    {#    <table class="table">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <th scope="col">Asin #</th>#}
    {#            <th scope="col">Title</th>#}
    {#            <th scope="col">No. of words</th>#}
    {#            <th scope="col">Percentage of Explicit Sentences</th>#}
    {#            <th scope="col">Rating</th>#}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {#        {% for book in all_books %}#}
    {#            <tr>#}
    {##}
    {#                <th scope="row"></th>#}
    {#                <td></td>#}
    {#                <td>{{ book.total_words }}</td>#}
    {#                <td>{{ book.profane_percentage }}%</td>#}
    {#                <td></td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#        </tbody>#}
    {#    </table>#}


{% endblock %}



