{% extends "home/home.html" %}
{% load static %}
{% block title %}Audible{% endblock %}

{% block HEADING %}
    <h2 class="mt-5 mb-3 blog-heading">Linking Audible Account</h2>
{% endblock %}

{% block BREADCRUMB %}

    <li class="breadcrumb-item active pt-1" style="color: #FBAB7E;" aria-current="page">Home</li>
    <li class="breadcrumb-item active pt-1" style="color: #FBAB7E;" aria-current="page">Audible</li>

{% endblock %}

{% block content %}

    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message }}
    </div>
    {% endfor %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ form.errors }}
    </div>
{% endif %}
<div>
    <h2 class="mt-3 mb-3">Your Audible Books</h2>
    <ul class="list-group list-group-number">
        {% for lib in library %}
            <li class="list-group-item">
                <a href="{% url 'audible_login' asin=lib.asin %}" class="btn btn-warning mr-5">Check Rating</a>
            {{ lib.title }}
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}