{% extends "authenticate/auth_base.html" %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block form %}
    <div class="card d-flex mt-5 wrap w-75" style="border: none">
        <div class="row">
            <div class="col-sm-5">
                <img class="card-img w-100 h-100" src="{% static 'images/backdrop.jpg' %}" alt="backdrop">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h3 class="heading font-class mb-5">Create account</h3>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <form method="POST" class="signin-form">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <label class="label-class font-class" for="name">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group mb-4">
                            <label class="label-class font-class" for="name">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group mb-4">
                            <label class="label-class font-class" for="password">Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form-group mb-5">
                            <label class="label-class font-class" for="password">Password Again</label>
                            {{ form.password2 }}
                        </div>
                        <div class="form-group mb-4">
                            <input type="submit" name="submit" id="submit"
                                   class="button-class form-control btn btn-warning rounded submit font-class w-75"
                                   value="Register"/>
                        </div>
                        <p class="forgot-class mb-4">
                            Have already an account ? <a href="{% url 'loginPage' %}" class="forgot-class"
                                                         style="color: #FBAB7E;">Login
                            here</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Email';
        form_fields[2].placeholder = 'Username';
        form_fields[3].placeholder = 'Enter password';
        form_fields[4].placeholder = 'Re-enter Password';


        for (var field in form_fields) {
            form_fields[field].className += ' form-control w-75'
        }
    </script>

{% endblock %}